PORT=5000
MONGO_URI=mongodb+srv://joshnatullimilli_db_user:FOOD123@foodordering.l9eijxj.mongodb.net/?appName=foodordering
JWT_SECRET=1a2c43e6c3e80f895b7dade86c6d20aed4f1c7d9a523e33803b728847bb39f6d
RAZORPAY_KEY_ID=rzp_test_SwSQos7NqIjJJz
RAZORPAY_KEY_SECRET=jZEUrmQHpJnW02AxryKwvZ5y
CLIENT_URL=http://localhost:5000
NODE_ENV=development
